body{
    background-color: #171515;
}

h1{
    color: aqua;
    text-align: center;
}

button{
    border-style: double;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px 6px 4px 6px;
}

button:hover{
    background-color: #00FF00;
}

#newarr{
    margin-right: 200px;
}

#bubble,#selection,#insertion,#merge,#quick,#sizer,#speed{
    margin-right: 20px;
}

#bar{
    color: red;
    display: flex;
    justify-content: center;
    height: 400px;
    flex-direction: row;
    padding: 20px 30px 0px 10px;
}
  
.baritem {
    background: yellow;
    border: 1.25px solid blue;
    width: 0.75%;
  }